RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
ErrorDocument 401 /Errors/401
ErrorDocument 403 /Errors/403
ErrorDocument 404 /Errors/404
ErrorDocument 500 /Errors/500